/* Estilo para o corpo */
body {
    /* Define a cor de fundo padrão para o tema claro */
    background-color: #ffffff; /* branco */
    color: #000000; /* preto para o texto */

    /* Verifica se o modo de tema preferido do sistema é escuro */
    @media (prefers-color-scheme: dark) {
        /* Se sim, altera a cor de fundo e a cor do texto para o tema escuro */
        background-color: #333333; /* cinza escuro ou outra cor escura de sua escolha */
        color: #ffffff; /* branco para o texto */
    }
}

/* Estilo para o contêiner principal */
.container {
    max-width: 600px; /* largura máxima do contêiner */
    margin: 0 auto; /* centraliza o contêiner horizontalmente */
    border-radius: 10px; /* bordas arredondadas */
    border: 2px solid #000000; /* borda preta com espessura de 2px */
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1); /* sombra mais pronunciada */
    padding: 20px; /* espaço interno */
}

/* Estilo para o conteúdo do cabeçalho */
#header-content {
    position: relative;
    text-align: center; /* centraliza o conteúdo */
    max-width: 600px; /* largura máxima do contêiner */
    margin: 0 auto; /* centraliza o contêiner horizontalmente */
}

/* Estilo para o contêiner de informações do cabeçalho */
.header-info {
    display: inline-block; /* faz com que o contêiner se ajuste ao conteúdo interno */
}

/* Estilo para a imagem */
.header-info img {
    border-radius: 50%; /* torna a imagem redonda */
    width: 150px; /* aumenta o tamanho da imagem */
    height: 150px; /* aumenta o tamanho da imagem */
    object-fit: cover; /* mantém a proporção da imagem */
    margin-top: 20px; /* move a imagem para baixo em relação ao topo do quadrado */
}

/* Estilo para o título */
.header-info h1 {
    color: #ffffff; /* cor do texto */
    margin-top: 10px; /* espaço entre a imagem e o título */
}

/* Estilo para o conteúdo principal */
main {
    text-align: center; /* centraliza o conteúdo */
    max-width: 600px; /* largura máxima do contêiner */
    margin: 0 auto; /* centraliza o contêiner horizontalmente */
}

/* Estilo para o contêiner de conteúdo principal */
.main-content {
    display: inline-block; /* faz com que o contêiner se ajuste ao conteúdo interno */
    text-align: left; /* alinha o texto à esquerda */
}

/* Estilo para o rodapé */
footer {
    text-align: center; /* centraliza o conteúdo */
    max-width: 600px; /* largura máxima do contêiner */
    margin: 0 auto; /* centraliza o contêiner horizontalmente */
}

/* Estilo para o contêiner do rodapé */
.footer-content {
    display: inline-block; /* faz com que o contêiner se ajuste ao conteúdo interno */
}

/* Estilo para a seção de contato */
#contato {
    text-align: center; /* centraliza o conteúdo */
    margin-top: 20px; /* espaço entre a seção anterior e esta */
}

/* Estilo para os botões de contato */
.contact-buttons {
    margin-top: 10px; /* espaço entre os botões */
}

/* Estilo para os botões de contato */
.contact-buttons a {
    display: inline-block;
    padding: 10px 15px; /* Ajustando o padding */
    margin: 5px; /* Adicionando margem entre os botões */
    text-decoration: none;
    border-radius: 10px; /* Tornando os botões um pouco menos redondos */
    font-weight: bold;
    text-transform: uppercase;
    transition: opacity 0.3s; /* Suaviza a transição da opacidade */
    opacity: 1; /* Opacidade inicial */
}

.contact-buttons a:hover {
    opacity: 0.8; /* Reduz a opacidade ao passar o mouse */
}

.contact-buttons a.whatsapp {
    background-color: #25d366; /* verde */
    color: #ffffff;
}

.contact-buttons a.instagram {
    background: linear-gradient(to right, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5); /* rosa com amarelo (cores do Instagram) */
    color: #ffffff;
}

.contact-buttons a.github {
    background-color: #000000; /* preto */
    color: #ffffff;
}

.contact-buttons a.linkedin {
    background-color: #0077b5; /* azul */
    color: #ffffff;
}

.contact-buttons a.gmail {
    background-color: #db4437; /* vermelho */
    color: #ffffff;
    margin-right: 0; /* removendo a margem direita */
}

/* Estilo para a seção de projetos */
#projetos {
    margin-top: 20px; /* espaço entre a seção anterior e os projetos */
    text-align: center; /* centraliza o conteúdo */
}

/* Estilo para cada projeto */
.project-link {
    display: inline-block; /* faz com que os projetos sejam exibidos em linha */
    padding: 8px 16px; /* ajustando o padding */
    color: #ffffff; /* cor do texto preto */
    text-decoration: none;
    border-radius: 8px; /* bordas arredondadas */
    font-weight: bold;
    text-transform: uppercase;
    margin: 5px; /* espaço entre os projetos */
    transition: background-color 0.3s; /* suaviza a transição de cor de fundo */
}

/* Estilo para mudar o fundo do projeto ao passar o mouse */
.project-link:hover {
    background-color: #141212; /* cor de fundo mais clara ao passar o mouse */
}
